@{
    ViewBag.Title = "Adoptuj pieska";
}
@model AdoptujPieska.Models.User
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>

</head>

<body>

     <style>

        body {
          width: 100%;
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          min-height: 100vh;
          font-family: "Poppins", sans-serif;
        }

        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          display: flex;
          align-items: center;
        }

        a {
          text-decoration: none;
        }

        .header header {
          width: 100%;
          background: url("baner.png") no-repeat 50% 20% /cover;
          min-height: calc(100px + 15vw);
        }


        .header .container .left_col {
          padding: 25px 20px;
          text-align: center;
          max-width: 350px;
          position: relative;
          margin: 0 auto;
        }

        .header .container .left_col .zdjecie {
          position: absolute;
          top: 50px;
          left: 50%;
          transform: translatex(-50%);
        }
        .header .container .left_col .zdjecie img {
          width: 120px;
          height: 120px;
          object-fit: cover;
          border-radius: 50%;
          display: block;
          box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
        }

        .header .container .left_col h2 {
          margin-top: 110px;
          font-weight: 600;
          font-size: 22px;
          margin-bottom: 5px;
        }
        .header .container .left_col p {
          font-size: 0.9rem;
          color: #818181;
          margin: 0;
        }
        .header .container .left_col .ile {
          justify-content: space-evenly;
          position: relative;
          margin: 35px 0;
        }
        .header .container .left_col .ile li {
          display: flex;
          flex-direction: column;
          color: #818181;
          font-size: 0.9rem;
        }
        .header .container .left_col .ile li span {
          color: #1d1d1d;
          font-weight: 600;
        }
        .header .container .left_col .ile:after {
          position: absolute;
          content: "";
          bottom: -16px;
          display: block;
          background: #cccccc;
          height: 1px;
          width: 100%;
        }
        .header .container .content p {
          font-size: 1rem;
          color: #1d1d1d;
          line-height: 1.8em;
        }
        .header .container .content ul {
          gap: 30px;
          justify-content: center;
          align-items: center;
          margin-top: 25px;
        }
        .header .container .content ul li {
          display: flex;
        }
        .header .container .content ul i {
          font-size: 1.3rem;
        }
        .header .container .right_col nav {
          display: flex;
          align-items: center;
          padding: 30px 0;
          justify-content: space-between;
          flex-direction: column;
        }

        .header .container .right_col nav ul {
          display: flex;
          gap: 20px;
          flex-direction: column;
        }
        .header .container .right_col nav ul li a {
          text-transform: uppercase;
          color: #818181;
        }
        .header .container .right_col nav ul li:nth-child(1) a {
          color: #1d1d1d;
          font-weight: 600;
        }
        .header .container .right_col nav button {
          background: #0091ff;
          color: #fff;
          border: none;
          padding: 10px 25px;
          border-radius: 4px;
          cursor: pointer;
          margin-top: 20px;
        }

      </style>


    <div class="header">
        @if (Session["UserName"] != null)
			{
				<p>
					@Html.ActionLink("Edytuj profil", "Edit")
				</p>
			}
		<div class="container">
			<div class="left_col">
				<br></br>
				<div class="zdjecie">
					<img src="~/Pictures/Logo.png" alt=" " />
					<span></span>
				</div>


				<h2>@Session["UserName"]</h2>
				<p>Schronisko dla psów</p>
				<p>adoptuj.pieska@gmail.com</p>
			


				<ul class="ile">
					<li><span>75</span>Dom znalazło</li>
				</ul>

				<div class="content">
					<p>
						Pomóż naszym czworonożnym przyjacielom znaleźć ciepły dom!
						Podaruj im miłość na jaką zasługują!
						Pokaż mu, że jest życie poza schroniskiem. Nie pozwól,
						aby resztę lat życia, które mu pozostały, spędził w zimnym,
						betonowym boksie. Jeśli okażesz mu trochę serca, on odpłaci Ci z nawiązką.
					</p>

				</div>
			</div>

		</div>
    </div>

</body>

</html>