<!DOCTYPE html>
<html>
<head>
    <title>Historia Schroniska z 2005 roku</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            text-align: center;
        }

        p {
            margin-bottom: 20px;
        }

        .image-container {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Historia Schroniska</h1>

    <p>
        Witaj na stronie poświęconej historii naszego schroniska, które zostało założone w roku 2005. Od tego czasu poświęcamy się opiece nad bezdomnymi zwierzętami i pomagamy im znaleźć nowe, kochające domy.
    </p>

    <div class="image-container">
        <img src="~/Pictures/about1.jpg" alt="Zdjęcie schroniska" width="400">
        
    </div>

    <p>
        Nasze schronisko powstało z myślą o zapewnieniu bezpiecznego i przyjaznego miejsca dla zwierząt, które zostały porzucone lub potrzebują pomocy. Od samego początku stawiamy na opiekę, rehabilitację oraz adopcję zwierząt, aby mogły znaleźć kochające rodziny i szczęśliwe domy.
    </p>

    <p>
        W ciągu tych lat pomogliśmy setkom zwierząt znaleźć nowe domy. Dzięki współpracy z lokalnymi społecznościami oraz hojnymi darczyńcami jesteśmy w stanie zapewnić schronienie, jedzenie i opiekę weterynaryjną dla potrzebujących zwierząt.
    </p>

    <div class="image-container">
        <img src="~/Pictures/about2.jpg" alt="Zdjęcie adopcji" width="400">
        
    </div>

    <p>
        Zapraszamy Cię do odwiedzenia naszego schroniska i poznania naszej wspaniałej historii. Wierzymy, że każde zwierzę zasługuje na szansę na lepsze życie, i jesteśmy dumni, że możemy im pomóc.
    </p>

    <p>
        Dziękujemy wszystkim, którzy nas wspierają i pomagają nam w naszej misji. Bez Waszej pomocy nie moglibyśmy zmieniać życia bezdomnych zwierząt.
    </p>
</body>
</html>
