@model AdoptujPieska.Models.Pieski

<head>

    <style>
        .form-check-input:checked {
            background-color: #8BC34A;
            border-color: #8BC34A;
            box-shadow: 0 0 7px #8BC34A;
        }

        .btn-check:checked + .btn-outline-primary {
            background-color: #8BC34A;
            border-color: #8BC34A;
            text: white;
        }

            .btn-check:checked + .btn-outline-primary span {
                color: white;
            }

        img {
            display: block;
            margin: auto;
        }

        .btn-custom {
            background-color: #86A612;
            color: white;
        }

            .btn-custom:hover {
                background-color: #86A612;
                color: grey;
            }

        .kafle-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
        }

        .kafel {
            width: 300px;
            height: 300px;
            overflow: hidden;
            position: relative;
        }

            .kafel img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
                position: absolute;
                top: 0;
                left: 0;
                transition: transform 0.3s ease-in-out;
            }

            .kafel p {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 10px;
                background-color: rgba(0, 0, 0, 0.5);
                color: #fff;
                text-align: center;
                margin: 0;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
            }

            .kafel:hover img {
                transform: scale(1.1);
            }


            .kafel:hover p {
                opacity: 1;
            }
    </style>
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

        // Pobranie elementów formularza
        const searchForm = document.querySelector('#search-form');
        const searchOptSubmit = document.querySelector('#search-opt-submit');
        const searchOptionsType = document.querySelectorAll('input[name="search-options-type"]');
        const searchOptionsGender = document.querySelectorAll('input[name="search-options-gender"]');

        // Funkcja obsługująca wyszukiwanie
        function handleSearch(event) {
            event.preventDefault();

            // Pobranie wybranych opcji
            let selectedType;
            let selectedGender;

            searchOptionsType.forEach((option) => {
                if (option.checked) {
                    selectedType = option.value;
                }
            });

            searchOptionsGender.forEach((option) => {
                if (option.checked) {
                    selectedGender = option.value;
                }
            });

            // Wyślij zapytanie do serwera z wybranymi opcjami
            // Tutaj możesz użyć fetch lub innej metody do wysłania żądania HTTP

            // Przykładowe wyświetlenie wybranych opcji
            console.log('Wybrany typ zwierzęcia:', selectedType);
            console.log('Wybrana płeć:', selectedGender);
        }

        // Nasłuchuj zdarzenia kliknięcia przycisku "Szukaj"
        searchOptSubmit.addEventListener('click', handleSearch);


    </script>

    <script>
        // Obsługa kliknięcia przycisku "Szukaj"
        document.getElementById("search-form").addEventListener("submit", function (event) {
            event.preventDefault(); // Zapobieganie domyślnej akcji formularza (np. przeładowania strony)

            // Przeniesienie do widoku "All" i przekazanie wartości z pól wyboru
            var selectedType = document.querySelector('input[name="search-options-type"]:checked').value;
            var selectedGender = document.querySelector('input[name="search-options-gender"]:checked').value;
            window.location.href = "widok_all.html?type=" + selectedType + "&gender=" + selectedGender;
        });
    </script>


</head>

<body>


    <section class="pt-3 pt-md-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5">
                    <div class="text-center text-md-start mt-5 mb-4">
                        <h1 class="display-6 fw-bold text-shadow" data-localize="hero-text">Znajdź zwierzaka</h1>
                        <p class="subtitle letter-spacing-4 mb-2 text-disabled text-shadow" data-localize="hero-text-secondary">Znajdź i pokochaj pupila</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-10 col-lg-10" color=#8BC34A>
                            <div class="row mt-4 mt-lg-4">
                                <div class="col">
                                    <input type="radio" class="btn-check" name="search-options-type" value="DOG" id="search-opt-dog" autocomplete="off">
                                    <label class="btn btn-lg btn-outline-primary rounded-pill w-100" style="border-color: #8BC34A; " for="search-opt-dog"><i class="fa fa-dog me-1"></i><span data-localize="search-label-dog" style="color: #86A612;">Pies</span></label>
                                </div>
                            </div>

                            <div class="row mt-4 mt-lg-4" style="border-color: #8BC34A;">
                                <p class="subtitle letter-spacing-4 mb-2 text-disabled text-shadow" data-localize="hero-text-secondary"><strong>Płeć</strong></p>


                                <!--   Wybor płci   -->


                                <div class="col-4 text-center" style="border-color: #8BC34A;">
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" name="search-options-gender" value="NONE" id="search-gender-none" id="search-gender-none" autocomplete="off" checked>
                                        <label class="w-100" for="search-gender-none"><span data-localize="search-opt-none">Dowolnie</span></label>
                                    </div>
                                </div>
                                <div class="col-4 text-center">
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" style="color: #86A612;" name="search-options-gender" value="MALE" id="search-gender-male" autocomplete="off">
                                        <label class="w-100" for="search-gender-male"><span data-localize="search-opt-male" style="border-color: #86A612;">Ona</span></label>
                                    </div>
                                </div>
                                <div class="col-4 text-center">
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" name="search-options-gender" value="FEMALE" id="search-gender-female" autocomplete="off">
                                        <label class="w-100" for="search-gender-female"><span data-localize="search-opt-female">Nie</span></label>
                                    </div>
                                </div>

                            </div>
                            <div class="row mt-4 mt-lg-4">
                                <div class="col">
                                    @Html.ActionLink("Szukaj", "Index", "Pieski/All", new { area = "" }, new { @class = "btn btn-lg btn-primary rounded-pill h-100 w-100", style = "background-color: #8BC34A; border-color: #8BC34A;", id = "search-opt-submit", type = "submit", data_localize = "search-label-search" })

                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-lg-6 d-none d-lg-block align-self-end">
                    <img class="img-fluid" src="~/Pictures/piesio.png" alt="piesio" />
                </div>
            </div>
        </div>
    </section>

    <script>
        //Zmiana koloru napisu "Pies" po wcisnieciu przycisku
        var searchOptDog = document.getElementById('search-opt-dog');
        var labelDog = document.querySelector('label[for="search-opt-dog"] span');

        searchOptDog.addEventListener('click', function () {
            if (searchOptDog.checked) {
                labelDog.style.color = "white";
            } else {
                labelDog.style.color = "#86A612";
            }
        });
    </script>

    <br> <br />





    <br> <br />

    <div class="row">
        <div class="col-md-4">
            <h2>O nas</h2>
            <p>
                Nasze schronisko dla psów działa od 2005 roku. Jesteśmy organizacją non-profit i naszym celem jest znalezienie
                domu dla jak największej liczby bezdomnych psów.
            </p>
            <p><a class="btn btn-default" href="#" role="button">Czytaj więcej &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2>Adopcja</h2>
            <p>
                Adopcja psa z naszego schroniska to wspaniałe doświadczenie. Nasze psy są wychodzone, w pełni zaszczepione
                i gotowe na nowy dom.
            </p>
            <p><a class="btn btn-default" href="#" role="button">Zobacz, jak adoptować &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2>Wspomóż nas</h2>
            <p>
                Nasze schronisko działa dzięki pomocy wolontariuszy i darowizn. Jeśli chcesz pomóc nam w ratowaniu psich żyć,
                możesz nas wesprzeć finansowo lub jako wolontariusz.
            </p>
            <p><a class="btn btn-default" href="#" role="button">Dowiedz się więcej &raquo;</a></p>
        </div>
    </div>








</body>