<h1>Wszystkie pieski</h1>

<style>
    .kafle-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

    .kafel {
        width: 300px;
        height: 300px;
        overflow: hidden;
        position: relative;
    }

        .kafel img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
            position: absolute;
            top: 0;
            left: 0;
            transition: transform 0.3s ease-in-out;
        }

        .kafel p {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            text-align: center;
            margin: 0;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        .kafel:hover img {
            transform: scale(1.1);
        }


        .kafel:hover p {
            opacity: 1;
        }
</style>


@if (Session["UserName"] != null)
{
    <p>
        @Html.ActionLink("+ Dodaj Pieska", "Add")
    </p>
}
<form method="get">
    <label for="aktywny">Aktywny:</label>
    <select name="aktywny" id="aktywny">
        <option value="">Wszystkie</option>
        <option value="tak" @if (Request.QueryString["aktywny"] == "tak") { <text> selected</text> }>Tak</option>
        <option value="nie" @if (Request.QueryString["aktywny"] == "nie") { <text> selected</text> }>Nie</option>
    </select>
    <label for="lubi_dzieci">Lubi dzieci:</label>
    <select name="lubi_dzieci" id="lubi_dzieci">
        <option value="">Wszystkie</option>
        <option value="tak" @if (Request.QueryString["lubi_dzieci"] == "tak") { <text> selected</text> }>Tak</option>
        <option value="nie" @if (Request.QueryString["lubi_dzieci"] == "nie") { <text> selected</text> }>Nie</option>
    </select>
    <label for="lubi_psy">Lubi psy:</label>
    <select name="lubi_psy" id="lubi_psy">
        <option value="">Wszystkie</option>
        <option value="tak" @if (Request.QueryString["lubi_psy"] == "tak") { <text> selected</text> }>Tak</option>
        <option value="nie" @if (Request.QueryString["lubi_psy"] == "nie") { <text> selected</text> }>Nie</option>
    </select>
    <button type="submit">Filtruj</button>
</form>

<body>
    <div class="kafle-container">
        @foreach (var piesek in ViewBag.Pieski)
        {
            <div class="kafel">
                <a href="@Url.Action("Profile", new { id = piesek.Id })">
                    <img src="@piesek.Zdjecie" alt="Zdjęcie psa">
                </a>
                <p>@piesek.Imie</p>
            </div>
        }
    </div>
</body>
