@model AdoptujPieska.Models.Pieski
@{
	bool isLiked = Model.Like.Any(x => x.IdUser == (int)Session["Id"] && x.LikeDog == Model.Id);
}
@if (isLiked)
{
	if (Session["UserName"] != null && (int)Session["Role"] == 2)
	{
		<td>@Html.ActionLink("Dislike", "Like", new { id = Model.Id }, new { @class = "btn-edit" })</td>
	}
}
else
{
	if (Session["UserName"] != null && (int)Session["Role"] == 2)
	{
		<td>@Html.ActionLink("Like", "Like", new { id = Model.Id }, new { @class = "btn-edit" })</td>
	}

}