@using AdoptujPieska.Controllers
@if (Session["UserName"] != null)
{


	@Html.AntiForgeryToken()

	<ul class="nav navbar-nav navbar-right">
		<li>
			@Html.ActionLink($"Witaj, {Session["UserName"]}!","Home", "User", new { id = Session["Id"] }, new { @class = "nav-link" })
		</li>
		<li>@Html.ActionLink("Wyloguj", "LogOut", "User", new { area = "" }, new { @class = "nav-link" })</li>
	</ul>

}
else
{
	<ul class="nav navbar-nav navbar-right">

		<li>@Html.ActionLink("Zaloguj", "Login", "User", new { area = "" }, new { @class = "nav-link" })</li>
	</ul>
}
